<div class="row">

    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </a>
    </div>

    <div class="col-md-5">
        <h3><%=education.school_name%></h3>
        <h4><%=education.year_from%>-<%=education.year_to%></h4>
        <p>
          <%=education.degree%>
        </p>
        <a class="btn btn-primary" href="#">School Website<span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>

<hr>

    

