<div class="row">

  <div class="col-md-2">
          <%=image_tag experience.logo_experience.url(:display), class: "img-responsive" %>
  </div>

    <div class="col-md-5">
        <h3><%= experience.position %></h3>
        <h4><%= experience.company %></h4>
        <p>
          <%= experience.description %>
        </p>
        <a class="btn btn-danger" href="#">Company Website <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <!-- <a class="btn btn-primary" href="#">Source Code<span class="glyphicon glyphicon-chevron-right"></span> -->
        <!-- </a> -->
    </div>

</div>

<hr>
