<div class="row">

    <div class="col-md-2">
            <%=image_tag project.logo_project.url(:display), class: "img-responsive" %>
    </div>

    <div class="col-md-5">
        <h3><%=project.title%></h3>
        <!-- <h4>Subheading</h4> -->
        <p>
          <%=project.description%>
        </p>
        <a class="btn btn-danger" href="#">View <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <a class="btn btn-danger" href="#">Source Code<span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>

<hr>
