<div class="row">

    <div class="col-md-7">
        <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x300" alt="">
        </a>
    </div>

    <div class="col-md-5">
        <h3><%=project.title%></h3>
        <!-- <h4>Subheading</h4> -->
        <p>
          <%=project.description%>
        </p>
        <a class="btn btn-primary" href="#">View <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <a class="btn btn-primary" href="#">Source Code<span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div>

<hr>

    

