<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:<%=skill.level%>0%">
        <span class="sr-only">60% Complete</span>
    </div>
    <span class="progress-type"><%=skill.name%></span>
    <span class="progress-completed"><%=skill.level%>/10</span>
</div>


