<div id="owl-demo" class="owl-carousel">
  <% @profiles.where(availability: :true).each do |p| %>
    <div class="thumbnail">
      <% if p.image.present? %>
				<% profile_image = p.image.url() %>
			<% else %>
				<% profile_image = asset_path('codecore-logo.jpg') %>
			<% end %>
      <%= image_tag profile_image, class:"img-thumbnail" %>

      <div class="caption" style="height: 200px">
        <h3><%= "#{p.user.first_name} #{p.user.last_name}" %></h3>
        <hr>
        <p><%= "#{p.pitch}" %></p>
      </div>
        <%= link_to "View", profile_path(p), class: "btn btn-primary btn-group-justified" %>
    </div>
  <% end %>
</div>
<div class="customNavigation">
  <a class="btn btn-primary prev">Previous</a>
  <a class="btn btn-primary next">Next</a>
</div>

<script>
  $(document).ready(function() {
    var owl = $("#owl-demo");

    owl.owlCarousel({
        items : 5, //10 items above 1000px browser width
        itemsDesktop : [1000,5], //5 items between 1000px and 901px
        itemsDesktopSmall : [900,3], // betweem 900px and 601px
        itemsTablet: [600,2], //2 items between 600 and 0
        itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
    });

    // Custom Navigation Events
    $(".next").click(function(){
      owl.trigger('owl.next');
    })
    $(".prev").click(function(){
      owl.trigger('owl.prev');
    })
  });

  $(".owl-carousel").owlCarousel();
</script>
