<div id="carousel" class="owl-carousel">
  <% @profiles.each do |pro| %>
    <%= render "/profiles/profile_min", pro: pro %>
  <% end %>
</div>
<div class="customNavigation btn-group btn-group-justified" role="group" aria-label="...">

  <div class="btn-group">
    <button type="button" class="btn btn-primary prev fa-lg"><%= fa_icon("backward") %></button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary next fa-lg"><%= fa_icon("forward") %></button>
  </div>
</div>

<script>
  $(document).ready(function() {
    var owl = $("#carousel");

    owl.owlCarousel({
        items : 4, //10 items above 1000px browser width
        itemsDesktop : [1000,2], //5 items between 1000px and 901px
        itemsDesktopSmall : [900,1], // betweem 900px and 601px
        itemsTablet: [600,1], //2 items between 600 and 0
        itemsMobile : false, // itemsMobile disabled - inherit from itemsTablet option
        pagination : true
      });

    // Custom Navigation Events
    $(".next").click(function(){
      owl.trigger('owl.next');
    })
    $(".prev").click(function(){
      owl.trigger('owl.prev');
    })
  });

  $(".owl-carousel").owlCarousel();
</script>
<%= paginate @profiles %>
