<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" style="margin-bottom:10px" role="tablist">

      <li role="presentation" class="active">
        <a href="#skills" aria-controls="skills" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-pencil"></span> Skills </a>
      </li>
      <li role="presentation">
        <a href="#projects" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-folder-open"></span> Projects </a>
      </li>
      <li role="presentation">
        <a href="#education" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-education"></span> Education </a>
      </li>
      <li role="presentation">
        <a href="#experience" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-briefcase"></span> Experience </a>
      </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content margined-tab-content">

      <div role="tabpanel" class="tab-pane active" id="skills">
         
          <!-- Skills go here -->
          <% @profile_skills.each do |skill| %>
            <%= render partial: 'skills_profile_show', locals: {skill:skill} %>
          <% end %>

      </div>

      <div role="tabpanel" class="tab-pane" id="projects">

          <!-- Projects go here -->

          <%= render 'projects_profile_show'%>


      </div>

      <div role="tabpanel" class="tab-pane" id="education">
          <!-- Education goes here -->

          <%= render 'education_profile_show'%>

      </div>

      <div role="tabpanel" class="tab-pane" id="experience">


          <!-- Experience goes here -->

          <%= render 'experience_profile_show'%>

      </div>

  </div>
  

</div>











