<p>Hello  <%= @profile_user.first_name %>,</p>
<br>
<p>You've received an inquiry from <%= @inquiry.name %></p>
<p>The inquiry is:</p>

<p>
<%= @inquiry.message %>.
</p>

<p>Regards,</p>
<p> CodeCore</p>
