<<<<<<< HEAD
<div class="container center_div">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">

      <h1>Edit Your Account</h1>
      <%= render "form" %>

    </div>
  </div>
</div>
=======
<h1>Edit Your Account</h1>
<% if current_user.profile%>
<%= link_to "Edit Profile", edit_profile_path(current_user.profile.id)%>
<% else %>
<%= link_to "New Profile", new_profile_path, class: "btn btn-danger"%>
<% end %>

<%= render "form" %>
>>>>>>> 2638c099e453386d926594d07ef949ee0fe6c470
