// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// *{
//     font-family: 'Open Sans', sans-serif;
// }

.profile-well {
    margin-top:-20px;
    background-color:#c4061d;
    border:2px solid #a4061d;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
}

.profile-well:hover {
    margin-top:-20px;
    background-color:#a4061d;
    border:2px solid #a4061d;
    text-align:center;
    cursor:pointer;
    font-size: 25px;
    padding: 15px;
    border-radius: 0px !important;
    border-bottom : 2px solid rgba(97, 203, 255, 0.65);
}

.profile-body {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #fff;
background-color: #F1F1F1;
}

.profile-bg_blur
{
    background-image:url('codecore-alumni.jpg');
    height: 300px;
    background-size: cover;
}

.profile-follow_btn {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #c4061d;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid white;
}

.profile-follow_btn:hover {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    // background-color: #3DDE0;
    padding: 10px;
    padding-top: 6px;
    color: white;
    text-align: center;
    font-size: 20px;
    border: 4px solid #9D152B;
}

.profile-header{
    color : #808080;
    margin-left:10%;
    margin-top:70px;
}

.profile-picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}

.profile-picture_mob{
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
}

.btn-style{
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

.btn-style:hover {
    color: #333;
    background-color: #3D5DE0;
    border-color: #adadad;
    width: 33.3%;

}


@media (max-width: 767px) {
    .header{
        text-align : center;
    }

    .nav{
        margin-top : 30px;
    }
}

.carousel-bg {
  background-image: url(/assets/code.png);
  background-size: 100%;
  height: 510px;
  border-radius: 5px;
  opacity: 1;
}

.carousel-photo {
  width: 218px;
  height: 218px;
}

.pitch-div {
  height: 150px;
  overflow: scroll;
}

.inline {
  height: 510px;
}

.top-most {
  z-index: 1000;
}

.float-left {
  position: absolute;
  float: left;
  left: 10px;
  top: 100px;
}

.float-right {
  position: absolute;
  float: right;
  right: 10px;
  top: 100px;
}

.centered {
  text-align: center;
}

.full-width {
  left: 0px;
  width: 100%;
}

.thumbnail {
  background-color: #DDDDDD;
  opacity: 0.90;
}
