<footer class="footer-distributed">

  <div class="footer-left">

    <h3><%= image_tag "cca-logo.png" %></h3>

    <p class="footer-links">
      <a href="#">Home</a>
      |
<!--       <a href="#">Blog</a>
      路
      <a href="#">Pricing</a>
      路 -->
      <a href="#">About</a>
<!--       路
      <a href="#">Faq</a>
      路 -->
<!--       <a href="#">Contact</a> -->
    </p>

    <p class="footer-company-name">CodeCore Alumni &copy; 2015</p>

    <div class="footer-icons">

      <a href="http://codecore.ca/"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/CodeCoreYVR"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/company/codecore-bootcamp"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/CodeCoreYVR"><i class="fa fa-github"></i></a>

    </div>

  </div>

  <div class="footer-right">

    <p>Contact Us</p>

      <%= form_tag "/contact_us", method: "post" do %>

        <input type="text" name="email" placeholder="Email" />
        <textarea name="message" placeholder="Message"></textarea>
        <button>Send</button>

      <% end %>

  </div>

</footer>